<header>
  <div class="container-fluid">
    <!-- Topbar -->
    <div class="row justify-content-around">
      <div class="col-6">
        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;<a routerLink="el:0112345678">011 234 5678</a> | <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a routerLink="ailto:info@mail.com">info@mail.com</a>
      </div>
      <div class="col-6 topbar-align-right">
        <a routerLink=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>&nbsp;&nbsp;<a routerLink=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>&nbsp;&nbsp;<a routerLink=""><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;&nbsp;<a routerLink=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp;&nbsp;<a routerLink=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <app-nav></app-nav>
</header>